:root {
    --reaction-text: hsl(0, 100%, 67%);
    --reaction-bg: hsla(0, 100%, 75%, 0.1);
    --memory-text: hsl(39, 100%, 56%);
    --memory-bg: hsla(39, 100%, 56%, 0.1);
    --verbal-text: hsl(166, 100%, 37%);
    --verbal-bg: hsla(166, 100%, 37%, 0.1);
    --visual-text: hsl(234, 85%, 45%);
    --visual-bg: hsla(234, 85%, 45%, 0.1);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --light-slate-blue:  hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --out-of-100: hsla(224, 30%, 27%, 0.3);
    --result-out-of-100: hsla(241, 100%, 89%, 0.3);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype-variations');
    
   
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype-variations'),
        url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: 900;
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    margin: auto;
   
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 80%;
}

.avg-score {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    display: flex;
    flex-flow: column nowrap;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.circle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--pale-blue);
    font-weight: 800;
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
}

.your-score {
    font-size: 3rem;
    display: inline-block;
    margin-top: 5%;
}

.score-report {
    margin-left: 15%;
    color: var(--light-lavender);
    margin-top: -0.5%;
    margin-right: 15%;
    text-align: center;
    font-size: 1.125rem;
}

.great {
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
    margin-top: -2%;
}
.score-breakdown {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-self: stretch;
    border-radius: 10px;
    box-shadow: 10px 5px 15px var(--pale-blue);
}

.result {
    text-align: center;
    color: var(--pale-blue);
    font-size: 1.125rem;
}

.summary {
    font-size: 1.125rem;
   margin-left: 3rem;
}

.result-out-of-100 {
    color: var(--result-out-of-100);
    display: inline-block;
    margin-top: -30%;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

}

li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
    padding: .5rem;
    border-radius: 12px;
    min-width: 18.8125rem;
    
}

p {
    font-size: 1.125rem;
}


.reaction {
    color: var(--reaction-text);
    background-color: var(--reaction-bg);
}

.memory {
    color: var(--memory-text);
    background: var(--memory-bg);
}

.verbal {
    color: var(--verbal-text);
    background: var(--verbal-bg);
}

.visual {
    color: var(--visual-text);
    background: var(--visual-bg);
}

.score {
    color: var(--dark-gray-blue);
}

.out-of-100 {
    color: var(--out-of-100);
    display: inline-block;
}

button {
    background: var(--dark-gray-blue);
    color: white;
    border-radius: 12px;
    min-height: 3rem;
    margin: auto;
    min-width: 16rem;
    margin-bottom: 5%;

}

button:active,
button:hover {
    cursor: pointer;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.attribution { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem; 
    text-align: center; 
}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    @media (max-width: 600px) {
        .grid-container {
            max-width: 80%;
            display: flex;
            flex-flow: column nowrap;

        }

        .avg-score {
            border-radius: 0px 0px 45px 45px;
        }

        .score-breakdown {
            border-radius: 0px 0px 0px 0px;
            box-shadow: 0px 0px 0px 0px;
        }
    }